<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
<!-- mappers에 하나씩 생길때마다 지정해주기 mapper경로 -->
	<!-- <mappers>
		<mapper resource="mappers/Common_SQL.xml"/>
	</mappers> -->
</configuration>